.button{
    background: white;
    height: 100px;
    width: 100px;
    border: 15px black;
    margin: 100px;
    padding: 25px;
    box-sizing: border-box;
    animation-name: picks;
    animation-duration: 0,5s;
    animation-iteration-count: 3;
    animation-timing-function: linear;
}    

@keyframes picks{
    0%{
        background: white;
    }    

    50%{
        
        background:#228B22;
    }
}
